
<!-- @{
    ViewBag.Title = "Index";
}

<h2>Index</h2>-->

@model IEnumerable<MoviesApplication.Models.Movie>

@{ ViewBag.Title = "Movies List"; }

<h2>Movies List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Mid</th>
            <th>Moviename</th>
            <th>Date of Release</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Mid</td>
    <td>@item.Moviename</td>
    <td>@item.DateofRelease.ToShortDateString()</td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Mid }) |
        @Html.ActionLink("Edit", "Edit", new { id = item.Mid }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Mid })
    </td>
</tr>}
    </tbody>
</table>
